My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "37c40e1d-2a12-4cd9-9b89-bb5688b1eed1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHIR5aduuAfkXhj",
          "mode": "list",
          "cachedResultName": "Ekam Outbound",
          "cachedResultUrl": "https://airtable.com/appHIR5aduuAfkXhj"
        },
        "table": {
          "__rl": true,
          "value": "tblr5I80gOuSysZxS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appHIR5aduuAfkXhj/tblr5I80gOuSysZxS"
        },
        "filterByFormula": "({Status} = 'TBC')",
        "returnAll": false,
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "b7877a65-ecd0-4cc7-ba8a-c2eee22e7bef",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "7kw8iJK07k8mSQTs",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c426987-f720-4a96-a798-3726da6cdfec",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "aff4b1aa-b121-47ca-adb3-2a58c283ab92",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "94c339a1-537b-4298-8e66-c2650093bed5",
              "name": "Mobile",
              "value": "={{ $json.Mobile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "43a6ad5c-b722-412d-82b0-f90eb840d80f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer d9c77875-e80e-4ce0-bc88-7048b5f4cde0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"358d7eb4-9b79-4eff-bbf8-490551ad7868\",\n  \"customer\": {\n\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\":\"78146972-b5b3-4933-a886-ec44da828efc\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "2f621c2b-be81-46bb-9812-a226db184545",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHIR5aduuAfkXhj",
          "mode": "list",
          "cachedResultName": "Ekam Outbound",
          "cachedResultUrl": "https://airtable.com/appHIR5aduuAfkXhj"
        },
        "table": {
          "__rl": true,
          "value": "tblr5I80gOuSysZxS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appHIR5aduuAfkXhj/tblr5I80gOuSysZxS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Edit Fields').item.json.ID }}",
            "Status": "In progress"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                },
                {
                  "name": "#Unreachable",
                  "value": "#Unreachable"
                },
                {
                  "name": "#Success",
                  "value": "#Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ],
      "id": "2d684479-3339-4d96-a365-a71c90d88b73",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "7kw8iJK07k8mSQTs",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c4cda71-f17e-47bb-96b9-7e02a3f4e82e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05d75bad911839a553b3ba6bb2a6499b59c7841c6504d84fe86032f13ebace2e"
  },
  "id": "1HwRENVpP02Ym7Xn",
  "tags": []
}